{% extends 'base.html' %}

{% block bodyblock %}
<!-- 12 -->
<div class="container">
        <div class="row">
            <div class="col-md-4">
                <br><br>
                <!-- form: upload the image -->
                <h3 class="display-5">Gender Classification</h3>
                <p>Upload an image (.jpg, .jpeg, .png), our model will detect face first and then predict gender based on the face (Male or Female).</p>
                <!-- upload image form -->
                <form action="#" method="POST" enctype="multipart/form-data">
                    <div class="input-group">
                        <input type="file" class="form-control" name="image_name" required>
                        <input type="submit" value="Upload & Predict" class="btn btn-outline-primary">
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <!-- report: prediction image, reporting (grayscale, eigen image, and probability score) -->
                {% if fileupload %}
                <br><br>
                <!-- predicted image -->
                <h3 class="display-5">Predicted Image</h3>
                <img src="/static/predict/prediction_image.jpg" class="img-fluid" width="100%" alt="">
                <!-- reporting -->
                <hr>
                <br>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Detection Face</th>
                            <th>Eigen Image</th>
                            <th>Prediction Gender</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in report %}
                        <tr>
                            <td>
                                <img src="/static/predict/{{ element[0] }}" class="img-fluid" alt="" style="max-width: 100px;">
                            </td>
                            <td>
                                <img src="/static/predict/{{ element[1] }}" class="img-fluid" alt="" style="max-width: 100px;">
                            </td>
                            <td>{{ element[2] }}</td>
                            <td>{{ element[3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}